/* @import "//src/common/baseclr.css"; */

.movie-section{
  display: flex;
  justify-content: space-evenly;
  padding: 40px 0px;
  color: var(--clr-primary-9);
  font-weight: 400;
}

.movie-rating{
    padding-left: 3px;
    margin-top: 20px    ;
    color: var(--clr-primary-10);
    display: flex;
}

.movie-rating span{
    margin-right: 20px;
}

.movie-title{
    font-size: 40px;
    color: var(--clr-primary-9);
}

.movie-plot{
    margin-top: 20px;
    line-height: 1.8rem;
    color: var(--clr-primary-9);
}
.movie-info > div span:first-child {
    padding: 10px 0px;
    color: var(--clr-primary-9);
    font-weight: 600;
    width: 100px;
    display: inline-block;
}
.movie-info > div span {
color: var(--clr-primary-10);
}
.fa-star {
    color: #ff9e00;
  }
  .fa-thumbs-up {
    color: #fafafa;
  }
  
  .fa-film {
    color: rgb(191, 213, 214);
  }
  
.fa-calendar {
    color: peachpuff;
  }
  
.section-right {
margin-left: 30px;
  }
    
  .btn-primary {
    margin-top: 15px;
    height: 40px;
    width: 15%;
    background-color: var(--clr-primary-4);
    color: var(--mainWhite);
    border-color: transparent;
    text-transform: capitalize ;
    padding: 0.45rem 0.8rem;
  display: inline-block;
  }
  .btn-primary:hover {
    background-color: var(--clr-grey-5);
    color: var(--primaryColor);
  }