@import "//src/common/baseclr.css";

.header{

background-color: var(--clr-primary-1);
height: 72px;
padding: 0px 40px;
display: flex;
align-items: center;
justify-content: space-between;
}
.logo{
    color: var(--clr-primary-9);
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
}

.user-image,.user-image img{
    width: 38px;
    height: 38px;
}